In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("temps.csv")
df.head()

,year,month,day,week,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend
0,2016,1,1,Fri,45,45,45.6,45,43,50,44,29
1,2016,1,2,Sat,44,45,45.7,44,41,50,44,61
2,2016,1,3,Sun,45,44,45.8,41,43,46,47,56
3,2016,1,4,Mon,44,41,45.9,40,44,48,46,53
4,2016,1,5,Tues,41,40,46.0,44,46,46,46,41

In [6]:
df.shape

(348, 12)

In [8]:
pd.get_dummies(df)

,year,month,day,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend,week_Fri,week_Mon,week_Sat,week_Sun,week_Thurs,week_Tues,week_Wed
0,2016,1,1,45,45,45.6,45,43,50,44,29,True,False,False,False,False,False,False
1,2016,1,2,44,45,45.7,44,41,50,44,61,False,False,True,False,False,False,False
2,2016,1,3,45,44,45.8,41,43,46,47,56,False,False,False,True,False,False,False
3,2016,1,4,44,41,45.9,40,44,48,46,53,False,True,False,False,False,False,False
4,2016,1,5,41,40,46.0,44,46,46,46,41,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,2016,12,27,42,42,45.2,47,41,50,47,47,False,False,False,False,False,True,False
344,2016,12,28,42,47,45.3,48,41,49,44,58,False,False,False,False,False,False,True
345,2016,12,29,47,48,45.3,48,43,50,45,65,False,False,False,False,True,False,False
346,2016,12,30,48,48,45.4,57,44,46,44,42,True,False,False,False,False,False,False
347,2016,12,31,48,57,45.5,40,42,48,47,57,False,False,True,False,False,False,False

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [2]:
# Load the dataset
data = pd.read_csv('temps.csv')

# Check for missing values
print(data.isnull().sum())

# Drop or fill missing values
data.dropna(inplace=True)  # or data.fillna(method='ffill', inplace=True)

# Convert categorical variables to numerical (if needed)
data['week'] = data['week'].astype('category').cat.codes  # Example for week

year              0
month             0
day               0
week              0
temp_2            0
temp_1            0
average           0
actual            0
forecast_noaa     0
forecast_acc      0
forecast_under    0
friend            0
dtype: int64

In [4]:
data['week']

0      0
1      2
2      3
3      1
4      5
      ..
343    5
344    6
345    4
346    0
347    2
Name: week, Length: 348, dtype: int8

In [5]:
hye=f

NameError: name 'f' is not defined

In [6]:
# Load the dataset
data = pd.read_csv('your_data.csv')

# Check for missing values
print(data.isnull().sum())

# Drop or fill missing values
data.dropna(inplace=True)  # or data.fillna(method='ffill', inplace=True)

# Convert categorical variables to numerical (if needed)
data['week'] = data['week'].astype('category').cat.codes  # Example for week

FileNotFoundError: [Errno 2] No such file or directory: 'your_data.csv'